<footer role='contentinfo'>
  <p>
    &copy; Copyright 2012 Eindhoven.rb
    <br />
    Site generated {{ site.time }}
  </p>
  <script src='/js/tweets.js'></script>
  <script src='http://twitter.com/statuses/user_timeline/eindhovenrb.json?callback=twitter&amp;count=5'></script>
  <script type='text/javascript'>
    //<![CDATA[
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-27609090-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    //]]>
  </script>
</footer>