<aside role='aside'>
  <h4 id="next-meetup">Next meetup</h4>

  <p><mark>2 August 2012</mark></p>

  <p>Next meeting will held at the <strong>Trafalgar Pub</strong> on thursday <strong>2 august 2012</strong> from around 19:30.</p>

  <h4 id="get-in-touch">Get in touch</h4>

  <ul>
    <li>Follow <a href="http://twitter.com/eindhovenrb">@eindhovenrb</a> on Twitter and use hashtag <a href="http://twitter.com/#!/search/%23eindhovenrb">#eindhovenrb</a>.</li>
    <li>Join the Eindhoven.rb <a href="http://groups.google.com/group/eindhovenrb">mailing list</a>.</li>
  </ul>

  <p><a href="http://kabisa.nl" class="kabisa"><img src="/images/kabisa.png" alt="Kabisa ICT" /> Sponsored by Kabisa ICT, the Ruby&nbsp;on&nbsp;Rails&nbsp;experts.</a></p>
  <h4>Tweets</h4>
  <ul id='tweets'></ul>
</aside>